/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*padding and border 
    are included in the width and height*/
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

/* 
Rules:
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Tổng quan đến chi tiết


*/

/* 
1. Xác định vị trí
2. Kích thước (width, height)
3. Màu sắc
4. Kiểu dáng/ kiểu chữ
*/

/*wrapper có tính chất block  */
#wrapper {
}

#header {
  height: 46px;
  background-color: black;
}

#nav,
.subnav {
  list-style-type: none;
}

#nav > li {
  display: inline-block;
}

#nav li {
  position: relative;
}
/* Chỉ select các thẻ a trực tiếp nằm dươí thẻ li; cấp 1 */
#nav > li > a {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

/* Đi theo cấp css từ cha đến con*/
/* Select các thẻ con a ko nằm trực tiếp; cấp 2 và cấp 3 bị ảnh hưởng */
#nav li a {
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
  display: inline-block;
  width: 100%;
}

#nav li:hover .subnav {
  display: block;
}

#nav .subnav li:hover a,
#nav > li:hover > a {
  background-color: #ccc;
  color: black;
}

/*Select css từ cấp cha trước*/
#nav .subnav {
  display: none;
  min-width: 160px;
  top: 100%;
  left: 0;
  position: absolute;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Thường chỉ select đến 3 thẻ tầng */
#nav .subnav a {
  color: black;
  padding: 0 10px;
  //line-height: 38px;
}

#slider {
}
#content {
}
#footer {
}
